/**************************************************
* SUBSCRIBE FORM
**************************************************/
div.subscribe {
  margin-bottom: 30px;
  background: #f7f7f7;
  padding: 30px 60px;
}
div.subscribe h2 {
  margin: 0 0 1rem 0;
}
div.subscribe p,
div.subscribe input {
  margin: 0 0 1rem 0;
}
/**************************************************
* PRETTYPRINT
**************************************************/
/* GitHub Theme */
.prettyprint {
  background: #f7f7f7;
  font-family: monospace, Serif;
  font-size: .75rem;
  line-height: 1.5;
  border: none;
  padding: 1em;
  overflow: auto;
}
.prettyprint > code {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.pln {
  color: #333333;
}
@media screen {
  .str {
    color: #dd1144;
  }
  .kwd {
    color: #333333;
  }
  .com {
    color: #999988;
  }
  .typ {
    color: #445588;
  }
  .lit {
    color: #445588;
  }
  .pun {
    color: #333333;
  }
  .opn {
    color: #333333;
  }
  .clo {
    color: #333333;
  }
  .tag {
    color: navy;
  }
  .atn {
    color: teal;
  }
  .atv {
    color: #dd1144;
  }
  .dec {
    color: #333333;
  }
  .var {
    color: teal;
  }
  .fun {
    color: #990000;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
h1 a,
h1 a:hover,
h1 a:active,
h1 a:visited,
h1 a:focus {
  border-bottom: 0;
  text-decoration: none;
}
.postindex .post {
  padding: 2rem 0;
}
.postindex .post header h1 {
  margin: 10px 0 0 0;
}
.posts article.featured .feature {
  display: none;
}
.posts article header h2 a {
  font-size: 1rem;
}
.posts article header h1 a {
  font-size: 1.6rem;
  line-height: 1em;
}
.posts article header > span {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.posts article header > span time {
  color: #b6b6b6;
  font-weight: normal;
}
.posts article iframe.twitter-follow-button {
  margin: 0;
}
.postprofile p {
  font-size: 1rem;
}
