{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

    <h1>HOMEa</h1>

    <ul>
    {% for category in categories %}
        <li>
        {{category.name}}, {{category.categoryLevel}}<br />  
    </li>

    {% endfor %}
</ul>

    {{body}}

{% endblock %}
