<ul>
{% for node in tree.children %}
    
    {% if node.categoryName is defined %}
        <li><a href="http://{{node.path}}">{{node.categoryName}}</a></li>
    {% endif %}
    
{% endfor %}    
</ul>
